@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Sriracha&display=swap');

:root {
    --flush-orange-50: #fffaec;
    --flush-orange-100: #fff4d3;
    --flush-orange-200: #ffe5a5;
    --flush-orange-300: #ffd16d;
    --flush-orange-400: #ffb232;
    --flush-orange-500: #ff980a;
    --flush-orange-600: #ff8000;
    --flush-orange-700: #cc5d02;
    --flush-orange-800: #a1480b;
    --flush-orange-900: #823d0c;
    --flush-orange-950: #461d04;

}

body {
    font-family: 'Sriracha';
    background-color: rgb(16, 18, 22);
    color: white;
}

.nav {
    background-color: rgba(16, 18, 22, 0.8);
    padding: 1%;
    position: fixed;
    width: 100%;
    z-index: 1;
    top: 0;
}


.nav a {
    color: var(--flush-orange-600);
}


.imagenes {
    width: 100%;
    margin-top: 2%;
}

.container {
    width: 100%;
    max-width: none;
}

.display {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.col .index img {
    max-height: 50em;
    max-width: 100%;
    filter: brightness(55%);
    box-shadow: 0px 0px 9px 1px rgba(112, 108, 112, .5)
}

.col img {
    max-height: 30em;
    max-width: 100%;
}

.col span {
    position: absolute;
    z-index: 1;
    color: var(--flush-orange-500);
}

.dropdown .btn {
    background-color: rgba(0, 0, 0, 0);
    border: 0px;
    color: var(--flush-orange-600);
}

.dropdown-menu {
    background-color: rgba(43, 41, 41, 0.5);
}

.nav-link:hover {
    color: white;
}

.dropdown-item:hover {
    color: white;
    background-color: rgba(43, 41, 41, 0.5);
}

.titulo {
    color: var(--flush-orange-400);
    text-align: center;
}

.carousel {
    width: 82%;
    margin: auto;
}

.carousel-caption {
    color: rgb(255, 255, 255);
}

hr {
    height: 5px;
    color: var(--flush-orange-200);
    width: 90%;
    margin: 1% auto;
}

.principal .info {
    display: flex;
    width: 100%;
    gap: 20%;
    justify-content: center;
    margin-top: 2%;
}

.principal h1 {
    color: var(--flush-orange-50);
    font-family: "bebas neue";
}

.principal h1 span {
    color: var(--flush-orange-500);
    font-size: large;
    margin-top: -1%;
}

.principal {
    background-image: url("./img/fondoAboutMe.jpg");
    width: 100%;
    height: 1080px;
    background-size: cover;
}

.skills,
.experience {
    margin-top: 2%;
    width: 100%;
    display: flex;
    flex-direction: column;

}

.text {
    margin-top: 2%;
    width: 32%;
    display: flex;
    height: 10em;
    margin-left: 53%;
    flex-direction: column;
    align-items: flex-end;
}


.aditionalInformation {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.skills h2,
.experience h2 {
    width: 85%;
    font-family: "bebas neue";
    color: red;
    font-size: 2.5em;

    text-align: center;
}

.aditionalInformation h2 {
    font-family: "bebas neue";
    color: red;
    font-size: 2.5em;
}

.experience ul {
    width: 80%;
    margin-right: -21%;
}


.listaSitios h3,
.listaSitios li {
    color: #fe0000;
    font-family: 'bebas neue';
}

.trabajo li {
    color: white;
    font-family: 'Sriracha';
}

.lvlbar {
    background-color: white;
    width: 100%;
    height: 1em;
}

h4 {
    font-family: 'bebas neue';
}

.aditionalInformation ul {
    margin-right: 6%;
}

.text {
    display: flex;
    background-color: rgba(0, 0, 0, 0.8);
    height: 50em;
    width: 32%;
}

.lenguages {
    display: flex;
    width: 100%;
    padding: spac;
    justify-content: space-around;
}

.listaSitios li,
.skills li {
    list-style: none;
}

.trabajo li::before,
.skills li::before {
    content: "- ";
}


.lenguages div {
    width: 15em;

}

.lenguages li {
    list-style: none;
}

footer hr {
    width: 50%;
    margin: 2% auto auto;
}



footer h6 {
    color: white;
    text-align: center;
    font-family: 'bebas neue';
}

footer i {
    color: white;
}

footer ul {
    display: flex;
    justify-content: space-between;
    width: 40%;
    margin: auto 28.3%;
}

footer li {
    list-style: none;
}

a {
    text-decoration: none;
    color: white;
}

footer div{
    width: 100%;
    text-align: center;
    margin-bottom: 2%;
    font-family: 'bebas neue';
}

a:hover {
    color: var(--flush-orange-300);
}


.col {
    display: flex;
    justify-content: center;
}

.row {
    margin: auto;
    margin: 1%;
}

.carIllustrations img {
    max-width: 650px;
    margin: auto;
}

.black {
     color: black;
}

.mapaWeb ul{
    text-decoration: underline;
}

form{
    background-color: rgb(80, 79, 79);
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2em;
    border-radius: 2%;
}

form input{
    width: 40%;
}

.formulario{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 12em;
}

form button{
    padding: .5em 4em .5em 4em;
    border: none;
    background-color: var(--flush-orange-300);
    margin-top: 1.7em;
}


.contacto{
    width: 100%;
    display: flex;
    justify-content: center;
}

.contacto a:hover{
    text-decoration: underline;
}



.contenido{
    position: relative;
    top: 5em;
}

.migas{
    position: absolute;
    top: 0;
    z-index: 2;
}

.breadcrumb-item.active::before{
    color: white;
}
.breadcrumb-item + .breadcrumb-item::before{
    color: white;
}

.breadcrumb-item.active{
    color: var(--flush-orange-600);
}

.busqueda{
    display: flex;
}

.btn{
    border-color: var(--flush-orange-600);
    color: var(--flush-orange-600)
}

.btn:hover{
    background-color: var(--flush-orange-600);
    border-color: var(--flush-orange-800);
    color: black;
}

footer{
    position: absolute;
    width: 100%;
    top: 100%;
}

@media(max-width:778px ){
    .row{
        display: block;
    }

    .col{
        margin-top: 1em;
    }

    footer ul {
        width: 100%;
        margin-left: 0;
    }

    .nav{
        padding-top: 2em;

    }

    .contenido {
        top: 7em;
    }

    form{
        width: 90%;
    }

    form input{
        width: 90%;
    }



    .info img{
        visibility: hidden;
    }

    .text{
        width: 100%;
        margin: auto;
        margin-top: 10em;
        padding-bottom: 7em;
        flex-direction: row;
        background-color: rgba(0, 0, 0, 0);
    }

    .aditionalInformation ul {
        width: 90%;
        flex-direction: column;
    }
    
    .principal {
        background-image: none;
    }
}

@media(min-width:401px) and (max-width:840px ){
    form{
        width: 90%;
    }

    form input{
        width: 90%;
    }

    .text{
        margin: auto;
        width: 100%;
        height: fit-content;
    }

    .info img{
        max-height: 10em;
        width: auto;
    }
}

@media(min-width:841px) and (max-width:1440px ){
    .text{
        margin: auto;
        width: 60%;
        height: fit-content;
    }

    .info img{
        max-height: 10em;
        width: auto;
    }

    form{
        width: 70%;
    }

    form input{
        width: 90%;
    }
}

@media(min-width:1441px) and (max-width:1850px ){
    .text{
        margin: auto;
        width: 43%;
    }

    .info img{
        max-height: 10em;
        width: auto;
    }
}
